@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap");

body {
  background-color: rgb(30, 29, 29);
  padding: 0;
  margin: 0;
  color: white;
}
p,
h1,
h2,
button {
  padding: 0;
  margin: 0;
}
.main-container {
  max-width: 100%;
  width: 95%;
  padding: 20px;
  margin: auto;
  background-color: #181818;
}
@media (max-width: 720px) {
  .main-container {
    max-width: 100%;
    width: 100%;
    padding: 2px;
    margin: auto;
  }
}
/* HEADER CONTAINER DESKTOP */
/* flex: diplays things in one line */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}
.header-icon {
  padding: 0;
  margin: 0;
}

.page-title {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.call-to-action {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: none;
}
/* HEADER CONTAINER MOBILE */
@media (max-width: 720px) {
  /* flex: diplays things in one line */
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }
  .header-icon {
    padding: 0;
    margin: 0;
  }

  .page-title {
    padding: 0;
    margin: 0;
    font-size: 30px;
  }

  .call-to-action {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-transform: none;
  }
}
/* BUTTONS CONTAINER DESKTOP  */
.buttons-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 50%;
  margin: 20px auto;
  gap: 20px;
}

.buttons-container button {
  border-radius: 10px;
  background: rgb(255, 0, 0);
  border: none;
}
.buttons-container button:last-child {
  border-radius: 10px;
  background: rgb(0, 238, 255);
  border: none;
}

/* BUTTONS CONTAINER MOBILE  */
@media (max-width: 720px) {
  .buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 20px auto;
    gap: 10px;
  }
  .buttons-container button {
    border-radius: 10px;
    background: #5b4172;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
  }
  .buttons-container button:last-child {
    color: black;
  }
}

/* GRID/CARD CONTAINER DESKTOP*/
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: rgb(155, 0, 0); */
  width: 80%;
  gap: 10px;
  padding: 10px;
  margin: 40px auto;
}
@media (max-width: 720px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* background-color: rgb(155, 0, 0); */
    width: 90%;
    gap: 10px;
    padding: 10px;
    margin: 40px auto;
  }
}

.cards {
  background-color: #5b4172;
  backdrop-filter: blur(200px);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  gap: 50px;
}

/* card-top */
.card-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.card-top p:first-child {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.card-top h2:nth-child(2) {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: none;
}
.card-top p:nth-child(3) {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-transform: none;
  color: rgb(190, 190, 190);
}

/* card-bottom */
.card-bottom {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
}
.card-bottom div:first-child {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-transform: none;
  color: rgb(190, 190, 190);
}

.card-bottom button {
  border-radius: 10px;
  border: none;
  font-size: 9px;
  padding: 2px 6px;
  background-color: rgb(190, 190, 190);
  color: rgb(74, 74, 74);
}
