body {
  background-color: rgb(197, 237, 18);
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}

h2 {
  color: red;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
}
h3 {
  padding: 10px;
}
p {
  padding: 10px;
}
.main_container {
  margin: 20px;
}
.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.practise {
  color: rgb(37, 9, 225);
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.larger-image {
  width: 300px;
  /* padding: 10px; */
}
/* there are so many properties that you can use to style the text  */
/* youre able to put another font family as a default */
/* these are some of the properties you use to style the image */
.thick-red-border {
  border-color: rgb(124, 124, 124);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%; /*Circle =  square with 50% radius*/
  margin: 10px;
}
/* a percentage can also used on border radius */
.silver-background {
  background-color: #9b9f1d;

  /* padding: 10px; */
  /* 
    Colors:
    rgb(225, 225, 225)
    rgba(225, 225, 225, 1)
    silver 
    #fff    #ffffff
  
  */
  color: rgb(14, 14, 226);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}
/* css give a higher priority that classes */
#sign-up-form {
  color: rgba(14, 13, 13, 0.905);
  background-color: rgb(39, 200, 241);
}
/* there are 3 properties that are used to control the space around each element [padding'margin 'border*/
/* padding is the space around the text */
.list_items {
  font-family: "Times New Roman", Times, serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

.items {
  padding: 5px;
  margin: 5px;
}

label {
  margin-right: 50px;
  width: 120px;
}

input {
  background-color: beige;
  margin: 8px;
  margin-left: 0;
}
.email {
  padding-right: 4px;
  margin-left: 35px;
}

#updates-no {
  margin-left: 6px;
}
button {
  width: 80px;
  height: 30px;
  margin: 10px;
  margin-left: 2px;
}
#statement {
  padding: 0px;
}
.red-box {
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 30px;
}
#kutso {
  margin: 20px;
}
